<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secret Word</title>
  </head>
  <body>
    <%- include("partials/header") %>

    <h1>Secret Word: <%= secretWord %></h1>
    <form action="/secretWord" method="POST">
      <label for="secretWord">Enter new secret word:</label>
      <input type="text" id="secretWord" name="secretWord" required />
      <button type="submit">Set Secret Word</button>
    </form>
  </body>
</html>
